/*
    PALETA DE CORES
    ---MODO CLARO---
    #BF7A26 (ocre queimado claro)
    #A65E1F (ocre queimado escuro)
    #BFA995 (beige)
    #733D29 (marrom claro)
    #0D0D0D (quase preto)

    ---MODO ESCURO---
    #0A0B0D (quase preto)
    #593825 (marrom médio)
    #8C5B3E (marrom claro)
    #261610 (marrom escuro)
    #A69D9C (cinza quente)

*/

/*MEDIA QUERIES*/
@media screen and (max-width: 768px){
    html, body {
        overflow-x: hidden;
    }
    /*SESSÃO DO CABEÇALHO ADAPTADA AO MEDIA QUERY*/
    .cabecalho{
        flex-direction: column;
        padding: 1.563rem;
        margin: 1.875rem;
        width: auto;
    }
    .cabecalho ul {
        padding: 0.5rem 0px;
    }
    .ul-list {
        display: none;
    }
    .posicoes {
        display: none;
    }
    .posicoes h2 {
        grid-area: titulo;
    }
    .posicoes p {
        grid-area: texto;
    }
    .posicoes img{
        display: none;
        width: 0;
    }
    .levantador, .oposto, .ponta, .central, .libero {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "titulo"
                            "texto";
    }
    footer {
        margin-top: 20px;
    }
    .footer {
        padding-top: 15px
    }

}

/*CONFIGURAÇÕES GERAIS*/
* {
    padding: 0;
    font-size: 105%;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #e2cdba;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*DARKMODE*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

.darkmode-toggle {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    border-radius: 100px;
    background-color: #0D0D0D;
    overflow: hidden;
    cursor: pointer;
}

.darkmode-toggle:before, .darkmode-toggle:after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    top: 4px;
    transition: .5s ease-out;
}

.darkmode-toggle:before {
    background-color: #ffa41b;
    left: -9px;
    transform: translateX(13px);
}

.darkmode-toggle:after {
    background-color: #0D0D0D;
    left: -12px;
    transform: scale(0.00001);
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .darkmode-toggle:before {
    background-color: #FFF;
    transform: translateX(22px);
}

input[type="checkbox"]:checked + .darkmode-toggle:after {
    transform: translateX(20px) scale(1);
}

body.darkmode {
	background-color: #8C5B3E;
	color: #ecdebd;
}

.darkmode header {
	background-color: #261610;
}

.darkmode .carrossel {
	background-color: #593825;
}

.darkmode .curiosidadetitle {
	background-color: #261610;
	color: #A69D9C;
}

.darkmode .curiosidades {
	background-color: #261610;
}

.darkmode .sobre {
    background-color: #261610; 
    color: #ecdebd;
}

.darkmode .sobre h2{
    color: #BF7A26;
}

/*CLASSES DE ESTILIZAÇÃO DO CABEÇALHO PRINCIPAL DA PÁGINA*/
.cabecalho {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #A65E1F;
    border-radius: 50px;
    padding: 0px 6.25rem 0px 6.25rem;
}

.cabecalho a {
    color: rgb(238, 220, 197);
}

.cabecalho ul li a{
    text-decoration: none;
    font-size: 1.250rem;
    transition: .3s ease;
}

.cabecalho ul li a:hover {
    color: #733D29;
    font-size: 1.375rem;
    transition: .3s ease;
}

.cabecalho img {
    width: 5.625rem;
}

/*CLASSES DE ESTILIZAÇÃO DO CARROSSEL E TÍTULO PRINCIPAL DA PÁGINA*/
.carrossel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #BF7A26;
}

.principaltitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    text-align: center;
    font-size: 450%;
    margin: 0;
    color: #d3c1b0;
    filter: drop-shadow(0px 0px 10px #0D0D0D);
    text-transform: uppercase;
}

.slider {
    filter: drop-shadow(0px 0px 10px #0D0D0D);
    overflow: hidden;
    width: 1250px;
    height: 570px;
    border-radius: 25px;
}

.container {
    display: flex;
    transition: 0.7s ease-in-out;
    transform: translateX(0);
}

.container img {
    object-fit: fill;
    margin-top: -200px;
    width: 1250px;
    height: 945px;
    opacity: 0.8;
}

/*CLASSES ASSOCIADAS AOS BENEFICIOS*/
.beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    flex-direction: column;
    text-align: center;
    font-size: 150%;
}

.beneficios h2 {
    text-transform: uppercase;
    margin: 0.5rem;
}

/*CLASSES RESPONSÁVEIS PELAS CURIOSIDADES*/
.curiosidades {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #733D29;
}

.curiosidadetitle{
    color: #0D0D0D;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 200%;
    padding-top: 1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    background-color: #733D29;
}

.comp1, .comp2, .comp3, .comp4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
}

.curiosidades a {
    color: #0D0D0D;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    background-color: #BFA995;
    border-radius: 5rem;
    margin: 0.3rem 5rem;
    padding: 10px;
    text-align: center;
    min-width: 3rem;
    justify-content: center;
}

.curiosidades a:hover{
    background-color: #0D0D0D;
    color: #e2cdba;
    font-size: 1.375rem;
    transition: .4s ease-in-out;
}

.curiosidades img{
    filter: drop-shadow(0px 0px 10px #0D0D0D);
    border-radius: 50%;
    margin: 1.5rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

/*CLASSES QUE FALAM SOBRE AS POSIÇÕES DO VOLEI*/
.posicoes {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
}

.posicoes h2 {
    grid-area: titulo;
    text-align: center;
    padding: 1.875rem 0px;
    font-size: 1.875rem;
    text-transform: uppercase;
}

.posicoes img {
    grid-area: imagem;
    border-radius: 5rem;
    padding: 1.25rem 1.875rem;
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: drop-shadow(0px 0px 10px #0D0D0D);
}

.posicoes p {
    grid-area: texto;
    display: flex;
    text-align: justify;
    align-items: center;
    flex-direction: column;
    padding: 1.25rem 1.875rem;
    padding-bottom: 5rem;
    margin: auto;
    justify-content: center;
    font-size: 120%;
}

.levantador {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagem titulo"
                         "imagem texto";
}

.oposto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo imagem"
                         "texto imagem";
}

.ponta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagem titulo"
                         "imagem texto";
}

.central {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titulo imagem"
                         "texto imagem";
}

.libero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagem titulo"
                         "imagem texto";
}

/*CLASSES RESERVADAS PARA CONTEÚDO EXTRA*/
.sobre {
    display: flex;
    background-color: #733D29;
    color: #ececec;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.sobre h2 {
    color: #0D0D0D;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 150%;
}

.sobre p {
    padding: 1rem;
    font-size: 120%;
}

.sobre a {
    color: #ececec;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-size: 1.25rem;
    background-color: #0D0D0D;
    width: 9rem;
    height: 2rem;
    font-weight: bold;
    border: none;
    margin-top: 1.25rem;
    border-radius: 1.875rem;
}

.sobre a:hover {
    background-color: #ececec;
    color: #0D0D0D;
    font-size: 1.375rem;
    width: 10rem;
    transition: .4s ease-in-out;
}

/*CLASSES DE ESTILIZAÇÃO DO RODAPÉ DA PÁGINA*/
.container-footer {
    margin: 0px;
    padding: 5vh 5vh 0vh 5vh;
}

.footer-section {
    background: #0D0D0D;
    position: relative;
    margin-top: -3rem;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer-logo img {
    max-width: 150px;
    margin-left: 50px;
}

.footer-text p {
    margin-bottom: 0.777rem;
    font-size: 1.111rem;
    color: #ececec;
    line-height: 1rem;
}

.footer-widget-heading h3 {
    color: #BF7A26;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2.222rem;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.833rem;
    height: 0.222rem;
    width: 4.444rem;
    background: #A65E1F;
}

.footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 0.722rem;
}

a {
    color: #733D29;
    text-transform: capitalize;
    text-decoration: none;
}

a:hover {
    color: #ececec;
}

.copyright {
    background: #0D0D0D;
    padding: 5vh 0;
}

.container-copy{
    width: 100%;
    max-width: 100%;
    height: 10vh;
    margin: 0;
    padding: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-copy .copyright-text p {
    margin: 0;
    font-size: 15px;
    color: #2E2E2E;
}
